[submodule "ShadowDOM"]
	path = ShadowDOM
	url = https://github.com/toolkitchen/ShadowDOM.git
[submodule "CustomElements"]
	path = CustomElements
	url = https://github.com/toolkitchen/CustomElements.git
[submodule "PointerGestures"]
	path = PointerGestures
	url = https://github.com/toolkitchen/PointerGestures.git
[submodule "MDV"]
	path = MDV
	url = https://sjmiles@github.com/toolkitchen/mdv.git
